*:not(.material-symbols-outlined, .material-symbols-rounded, .math, .math *) {
  font-family: "IBM Plex Sans", sans-serif !important;
}

html,
body {
  margin: 0;
}

.MuiTouchRipple-rippleVisible {
  animation-duration: 0.25s !important;
}
.MuiTouchRipple-child {
  filter: opacity(0.2) !important;
}

.math {
  padding: 3px;
  display: inline;
  border-radius: 4px;
  background-color: rgba(200, 200, 200, 0.3);
}
